---
# ansible-playbook -vv -K playbook.yaml --diff --tags vbox
- name: Main
  hosts: 127.0.0.1
  connection: local
  diff: true
  become: true
  roles:
    - role: base
      tags: [base]
    - role: keychron
      tags: [keychron,never]
    - role: sysctl
      tags: [sysctl, kernel]
    - role: zsh
      tags: [zsh]
    - role: i3
      tags: [i3, never]
    - role: doom
      tags: [doom, never]
