---
- name: Install base apps
  ansible.builtin.apt:
    name:
      - htop
      - iotop
      - nmap
      #- fzf
      - exa
      - remmina
      # - jq
      # - jc
      - asciinema
      - peek
      - unrar
      - tmate # remote ssh share
      - inotify-tools
      - timeshift
      - sysprof
      - direnv
      - tmux
      - git-crypt
    state: latest
    update_cache: true

# - name: Lynis | Install lynis
#   block:
#     - name: Lynis | Add apt key
#       ansible.builtin.apt_key:
#         url: https://packages.cisofy.com/keys/cisofy-software-public.key

#     - name: Lynis | Add repo
#       ansible.builtin.apt_repository:
#         repo: deb https://packages.cisofy.com/community/lynis/deb/ stable main
#         state: present
#         filename: lynis

#     - name: Lynis | Install
#       ansible.builtin.apt:
#         name:
#           - lynis
#         state: latest
#         update_cache: true





# https://github.com/direnv/direnv
- name: direnv | Install direnv {{ direnv_ver }}
  vars:
    direnv_ver: "2.37.1"
  ansible.builtin.get_url:
    url: "https://github.com/direnv/direnv/releases/download/v{{ direnv_ver }}/direnv.linux-amd64"
    force: true
    dest: "/usr/local/bin/direnv"
    mode: 0755
  tags:
    - direnv

# https://github.com/junegunn/fzf
- name: fzf | Install fzf {{ fzf_ver }}
  vars:
    fzf_ver: "0.67.0"
  ansible.builtin.unarchive:
    src: "https://github.com/junegunn/fzf/releases/download/v{{ fzf_ver }}/fzf-{{ fzf_ver }}-linux_amd64.tar.gz"
    dest: /usr/local/bin
    remote_src: true
    mode: 0755
    extra_opts:
      - fzf # extract just one file
  tags:
    - fzf


# https://github.com/wader/fq
- name: fq | Install fq {{ fq_ver }}
  vars:
    fq_ver: "0.15.1"
  ansible.builtin.unarchive:
    src: "https://github.com/wader/fq/releases/download/v{{ fq_ver }}/fq_{{ fq_ver }}_linux_amd64.tar.gz"
    dest: /usr/local/bin
    remote_src: true
    mode: 0755
    # checksum: "sha256:74f204c91b876672f6b24e2445488651dcb3d869b414d27d9f1ffe38a361f466"
    extra_opts:
      - fq # extract just one file
  tags:
    - fq

# https://github.com/antonmedv/fx
- name: fx | Install fx {{ fx_ver }}
  vars:
    fx_ver: "39.2.0"
  ansible.builtin.get_url:
    url: "https://github.com/antonmedv/fx/releases/download/{{ fx_ver }}/fx_linux_amd64"
    force: true
    dest: "/usr/local/bin/fx"
    mode: 0755
  tags:
    - fx

# https://github.com/mikefarah/yq
- name: yq | Install yq {{ yq_ver }}
  vars:
    yq_ver: 4.49.2
  ansible.builtin.get_url:
    url: "https://github.com/mikefarah/yq/releases/download/v{{ yq_ver }}/yq_linux_amd64"
    dest: /usr/local/bin/yq
    force: true
    mode: 0755
    #checksum: "sha256:0c2b24e645b57d8e7c0566d18643a6d4f5580feeea3878127354a46f2a1e4598"
  tags:
    - yq

# https://github.com/homeport/dyff
- name: Dyff | Install dyff {{ dyff_ver }}
  vars:
    dyff_ver: 1.10.2
  ansible.builtin.unarchive:
    src: "https://github.com/homeport/dyff/releases/download/v{{ dyff_ver }}/dyff_{{ dyff_ver }}_linux_amd64.tar.gz"
    dest: /usr/local/bin
    remote_src: true
    mode: 0755
    extra_opts:
      - dyff # extract just one file
  tags:
    - dyff

# https://github.com/fullstorydev/grpcurl
- name: Grpcurl | Install grpcurl {{ grpcurl_ver }}
  vars:
    grpcurl_ver: 1.9.3
  ansible.builtin.unarchive:
    src: "https://github.com/fullstorydev/grpcurl/releases/download/v{{ grpcurl_ver }}/grpcurl_{{ grpcurl_ver }}_linux_x86_64.tar.gz"
    dest: /usr/local/bin
    remote_src: true
    mode: 0755
    extra_opts:
      - grpcurl # extract just one file
  tags:
    - grpcurl

# https://github.com/jgraph/drawio-desktop
- name: Install drawio
  vars:
    drawio_ver: 29.0.3
  ansible.builtin.apt:
    deb: https://github.com/jgraph/drawio-desktop/releases/download/v{{ drawio_ver }}/drawio-amd64-{{ drawio_ver }}.deb
  tags:
    - drawio

# https://github.com/zellij-org/zellij
- name: zellij | Install zellij {{ zellij_ver }}
  vars:
    zellij_ver: "0.43.1"
  ansible.builtin.unarchive:
    src: "https://github.com/zellij-org/zellij/releases/download/v{{ zellij_ver }}/zellij-x86_64-unknown-linux-musl.tar.gz"
    dest: /usr/local/bin
    remote_src: true
    mode: 0755
    extra_opts:
      - zellij # extract just one file
  tags:
    - zellij
