---
- name: vscodium
  tags: ["vscodium", "codium"]
  block:
    - name: Codium | Add apt key
      ansible.builtin.apt_key:
        url: https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
        keyring: /usr/share/keyrings/vscodium-archive-keyring.gpg
    - name: Codium | Add repo
      ansible.builtin.apt_repository:
        repo: "deb [ signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main"
        state: present
        filename: vscodium
    - name: Codium | Install
      ansible.builtin.apt:
        name:
          - codium
        state: latest
        update_cache: true

    - name: Codium | Configure product.json
      become: false
      ansible.builtin.copy:
        content: |
          {
            "extensionsGallery": {
              "cacheUrl": "https://vscode.blob.core.windows.net/gallery/index",
              "controlUrl": "",
              "itemUrl": "https://marketplace.visualstudio.com/items",
              "serviceUrl": "https://marketplace.visualstudio.com/_apis/public/gallery"
            }
          }
        dest: "{{ base_user_home }}/.config/VSCodium/product.json"
        mode: "0644"


- name: dev | Install dev tools
  ansible.builtin.apt:
    name:
      - python3-pip
    update_cache: true

# https://go.dev

# before new ver: rm -rf /usr/local/go

- name: dev | Install golang {{ golang_ver }}
  vars:
    golang_ver: 1.22.5
  ansible.builtin.unarchive:
    src: "https://go.dev/dl/go{{ golang_ver }}.linux-amd64.tar.gz"
    dest: /usr/local/
    remote_src: true
    mode: 0755
  tags:
    - go
    - golang

# https://github.com/go-task/task
- name: Install task {{ task_ver }}
  vars:
    task_ver: 3.41.0
  ansible.builtin.unarchive:
    src: "https://github.com/go-task/task/releases/download/v{{task_ver}}/task_linux_amd64.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    mode: 0755

  # ansible.builtin.apt:
  #   deb: https://github.com/go-task/task/releases/download/v{{ task_ver }}/task_linux_amd64.deb
  tags:
    - task

# https://github.com/jesseduffield/lazygit
- name: Install lazygit {{ lazygit_ver }}
  vars:
    lazygit_ver: 0.45.2
  ansible.builtin.unarchive:
    src: "https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_ver }}/lazygit_{{ lazygit_ver }}_Linux_x86_64.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    mode: 0755
  tags:
    - lazygit

# https://github.com/krisnova/naml
- name: naml | Install naml {{ naml_ver }}
  vars:
    naml_ver: 1.0.3
  ansible.builtin.get_url:
    url: "https://github.com/krisnova/naml/releases/download/v{{ naml_ver }}/naml-linux-amd64"
    dest: /usr/local/bin/naml
    force: true
    mode: 0755
  tags:
    - naml

# https://github.com/goss-org/goss
- name: goss | Install goss {{ goss_ver }}
  vars:
    goss_ver: v0.4.9
  ansible.builtin.get_url:
    url: "https://github.com/goss-org/goss/releases/download/{{ goss_ver }}/goss-linux-amd64"
    dest: /usr/local/bin/goss
    checksum: sha256:https://github.com/goss-org/goss/releases/download/{{ goss_ver }}/goss-linux-amd64.sha256
    force: true
    mode: 0755
  tags:
    - goss

# https://github.com/hairyhenderson/gomplate
- name: gomplate | Install gomplate {{ gomplate_ver }}
  vars:
    gomplate_ver: 4.3.0
  ansible.builtin.get_url:
    url: "https://github.com/hairyhenderson/gomplate/releases/download/v{{ gomplate_ver }}/gomplate_linux-amd64"
    dest: /usr/local/bin/gomplate
    checksum: sha256:8adb82e5be7dfde49857ebd7c948fd8f9b10cdcdb13f71b74685dff6e6756890
    force: true
    mode: 0755
  tags:
    - gomplate

# https://github.com/erebe/wstunnel
- name: wstunnel | Install wstunnel {{ wstunnel_ver }}
  vars:
    wstunnel_ver: 10.1.9
  ansible.builtin.unarchive:
    src: "https://github.com/erebe/wstunnel/releases/download/v{{ wstunnel_ver }}/wstunnel_{{ wstunnel_ver }}_linux_amd64.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    mode: 0755
    extra_opts:
      - wstunnel
  tags:
    - wstunnel

# https://github.com/vi/websocat
- name: websocat | Install websocat {{ websocat_ver }}
  vars:
    websocat_ver: 1.14.0
  ansible.builtin.get_url:
    url: "https://github.com/vi/websocat/releases/download/v{{ websocat_ver }}/websocat.x86_64-unknown-linux-musl"
    #url: "https://github.com/vi/websocat/releases/download/v{{ websocat_ver }}/websocat.x86_64-unknown-linux-musl"
    dest: /usr/local/bin/websocat
    checksum: sha256:33a80fcbf2313e3c6e816ddafec333c1a04cc34464d4ba4970d938275775a12f
    force: true
    mode: 0755
  tags:
    - websocat

# https://github.com/kubernetes-sigs/kubebuilder
- name: kubebuilder | Install kubebuilder {{ kubebuilder_ver }}
  vars:
    kubebuilder_ver: 4.5.0
  ansible.builtin.get_url:
    url: "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v{{ kubebuilder_ver }}/kubebuilder_linux_amd64"
    dest: /usr/local/bin/kubebuilder
    force: true
    mode: 0755
  tags:
    - kubebuilder

# https://github.com/operator-framework/operator-sdk
- name: operator-sdk | Install operator-sdk {{ operator_sdk_ver }}
  vars:
    operator_sdk_ver: 1.39.1
  ansible.builtin.get_url:
    url: "https://github.com/operator-framework/operator-sdk/releases/download/v{{ operator_sdk_ver }}/operator-sdk_linux_amd64"
    dest: /usr/local/bin/operator-sdk
    force: true
    mode: 0755
  tags:
    - operator-sdk



# https://github.com/cli/cli
# gh extension install github/gh-skyline
# gh skyline --year 2024

- name: Install github
  vars:
    gh_ver: 2.67.0
  ansible.builtin.apt:
    deb: https://github.com/cli/cli/releases/download/v{{ gh_ver }}/gh_{{ gh_ver }}_linux_amd64.deb
  tags:
    - github
    - gh

# https://github.com/pamburus/hl
- name: hl | Install hl {{ hl_ver }}
  vars:
    hl_ver: 0.30.3
  ansible.builtin.unarchive:
    src: "https://github.com/pamburus/hl/releases/download/v{{ hl_ver }}/hl-linux-x86_64-gnu.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    mode: 0755
    extra_opts:
      - hl
  tags:
    - hl

# https://github.com/dimonomid/nerdlog
- name: nerdlog | Install nerdlog {{ nerdlog_ver }}
  vars:
    nerdlog_ver: 1.2.4
  ansible.builtin.unarchive:
    src: "https://github.com/dimonomid/nerdlog/releases/download/v{{ nerdlog_ver }}/nerdlog_linux_amd64.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    mode: 0755
    extra_opts:
      - nerdlog
  tags:
    - nerdlog

# https://github.com/golangci/golangci-lint
- name: golangci-lint | Install golangci-lint {{ golangci_lint_ver }}
  vars:
    golangci_lint_ver: 2.7.2
  ansible.builtin.apt:
    deb: https://github.com/golangci/golangci-lint/releases/download/v{{ golangci_lint_ver }}/golangci-lint-{{ golangci_lint_ver }}-linux-amd64.deb
  tags:
    - golangci-lint
