---
# https://github.com/ryanoasis/nerd-fonts
- name: Look_and_feel | Install Nerd fonts
  become: false
  tags: [fonts]
  vars:
    font_ver: 3.4.0
    nerd_fonts:
      - {font: "FiraCode", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/FiraCode.zip"}
      - {font: "FiraMono", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/FiraMono.zip"}
      - {font: "JetBrainsMono", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/JetBrainsMono.zip"}
      - {font: "UbuntuMono", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/UbuntuMono.zip"}
      - {font: "IosevkaTerm", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/IosevkaTerm.zip"}
      - {font: "BigBlueTerminal", link: "https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ font_ver }}/BigBlueTerminal.zip"}
  block:
    - name: Debug
      ansible.builtin.debug:
        msg: "{{ nerd_fonts }}"

    - name: Fonts | Create font dirs in "~/.local/share/fonts/"
      ansible.builtin.file:
        path: "{{ base_user_home }}/.local/share/fonts/{{ item.font }}"
        state: directory
        mode: "0775"
      with_items: "{{ nerd_fonts }}"
      notify:
        - Reload font cache

    - name: Fonts | Install nerd fonts
      ansible.builtin.unarchive:
        src: "{{ item.link }}"
        dest: "/home/{{ base_user_name }}/.local/share/fonts/{{ item.font }}"
        remote_src: true
        mode: 0644
      with_items: "{{ nerd_fonts }}"
      notify:
        - Reload font cache

- name: Look_and_feel | Install Font Awesome
  become: false
  tags: [fonts]
  vars:
    font_awesome_url: "https://github.com/FortAwesome/Font-Awesome/releases/download/7.1.0/fontawesome-free-7.1.0-desktop.zip"
    font_awesome_dir: "{{ base_user_home }}/.local/share/fonts/FontAwesome"
  block:
    - name: Fonts | Create Font Awesome dir in "~/.local/share/fonts/"
      ansible.builtin.file:
        path: "{{ font_awesome_dir }}"
        state: directory
        mode: "0775"
      notify:
        - Reload font cache

    - name: Fonts | Install Font Awesome
      ansible.builtin.unarchive:
        src: "{{ font_awesome_url }}"
        dest: "{{ font_awesome_dir }}"
        remote_src: true
        mode: 0644
      notify:
        - Reload font cache