---
- name: Install base packages
  ansible.builtin.import_tasks: base.yml
  tags: [base]

- name: Install vim
  ansible.builtin.import_tasks: vim.yml
  tags: [vim]

- name: Install fonts packages
  ansible.builtin.import_tasks: fonts.yml
  tags: [fonts]

- name: Install dev packages
  ansible.builtin.import_tasks: dev.yml
  tags: [dev]

- name: Install tilix terminal packages
  ansible.builtin.import_tasks: tilix.yml
  tags: [tilix]

- name: Install snap packages
  ansible.builtin.import_tasks: snap.yml
  tags: [snap,never]

- name: Install pki packages
  ansible.builtin.import_tasks: pki.yml
  tags: [pki]

- name: Install docker packages
  ansible.builtin.import_tasks: docker.yml
  tags: [docker]

- name: Install k8s packages
  ansible.builtin.import_tasks: k8s.yml
  tags: [k8s]

- name: Install k9s
  ansible.builtin.import_tasks: k9s.yml
  tags: [k9s]

- name: Install hashicorp packages
  ansible.builtin.import_tasks: hashicorp.yml
  tags: [hashicorp,never]

- name: Install ttyd packages
  ansible.builtin.import_tasks: ttyd.yml
  tags: [ttyd]
