---
- name: Media | Install media apps
  ansible.builtin.apt:
    name:
      # - minidlna
      - flameshot
      - peek
      - rawtherapee
      - inkscape
      - gimp
      - vlc
      - youtube-dl
      - audacious
      - pinta
    state: latest
    update_cache: true

- name: Media | Cleanup
  ansible.builtin.apt:
    name:
      - rhythmbox
      - cheese
    state: absent

# - name: Install vhs
#   vars:
#     vhs_ver: 0.10.0
#   ansible.builtin.apt:
#     deb: https://github.com/charmbracelet/vhs/releases/download/v{{ vhs_ver }}/vhs_{{ vhs_ver }}_amd64.deb
#   tags:
#     - vhs

# https://github.com/tsl0922/ttyd
- name: Install ttyd
  vars:
    ttyd_ver: 1.7.7
  ansible.builtin.get_url:
    url: "https://github.com/tsl0922/ttyd/releases/download/{{ ttyd_ver }}/ttyd.x86_64"
    dest: /usr/local/bin/ttyd
    force: true
    mode: 0755
    checksum: "sha256:8a217c968aba172e0dbf3f34447218dc015bc4d5e59bf51db2f2cd12b7be4f55"
  tags:
    - ttyd
