---
- name: Media | Install media apps
  ansible.builtin.apt:
    name:
      # - minidlna
      - flameshot
      - peek
      - rawtherapee
      - inkscape
      - gimp
      - vlc
      - audacious
    state: latest
    update_cache: true

- name: Media | Cleanup
  ansible.builtin.apt:
    name:
      - rhythmbox
      - cheese
    state: absent

# - name: Install vhs
#   vars:
#     vhs_ver: 0.10.0
#   ansible.builtin.apt:
#     deb: https://github.com/charmbracelet/vhs/releases/download/v{{ vhs_ver }}/vhs_{{ vhs_ver }}_amd64.deb
#   tags:
#     - vhs
