---
# - name: Network | Adding user to group
#   user:
#     name: "{{ lookup('env','USER') }}"
#     groups: wireshark
#     append: yes

- name: Network | Install network utils
  ansible.builtin.apt:
    name:
      - iftop
      - ifstat
      - macchanger
      - bind9-dnsutils
      - iperf
      - ethtool
      - nmap
      - shadowsocks-libev
      - tsocks
      - wireshark
      - wireshark-common
    state: latest
    update_cache: true

# https://github.com/pouriyajamshidi/tcping
- name: Install tcping v{{ tcping_ver }}
  tags: [tcping]
  vars:
    tcping_ver: 2.7.1
  ansible.builtin.apt:
    deb: "https://github.com/pouriyajamshidi/tcping/releases/download/v{{ tcping_ver }}/tcping-amd64.deb"
