---
# https://github.com/tsl0922/ttyd
- name: Install ttyd {{ ttyd_ver }}
  vars:
    ttyd_ver: 1.7.7
  ansible.builtin.get_url:
    url: "https://github.com/tsl0922/ttyd/releases/download/{{ ttyd_ver }}/ttyd.x86_64"
    dest: /usr/local/bin/ttyd
    force: true
    mode: 0755
    checksum: "sha256:8a217c968aba172e0dbf3f34447218dc015bc4d5e59bf51db2f2cd12b7be4f55"
  tags:
    - ttyd

- name: Install ttyd template service
  ansible.builtin.template:
    src: files/ttyd@.service
    dest: /etc/systemd/system/ttyd@.service
    mode: 0644
  notify: restart ttyd
  tags:
    - ttyd

- name: Enable ttyd service instances
  ansible.builtin.systemd:
    name: "ttyd@{{ item }}.service"
    daemon_reload: true
    enabled: "{{ ttyd_enabled | default(true) }}"
    state: "{{ ttyd_state | default('started') }}"
  loop: "{{ ttyd_ports | default([8080]) }}"
  tags:
    - ttyd
